
// Server Communication username and password.
userid: {{ athena_server_userid }}
passwd: {{ athena_server_password }}

// Server name, use alternative character such as ASCII 160 for spaces.
// NOTE: Do not use spaces or any of these characters which are not allowed in
//       Windows filenames \/:*?"<>|
//       ... or else guild emblems won't work client-side!
server_name: {{ athena_server_name }}

// Wisp name for server: used to send wisp from server to players (between 4 to 23 characters)
wisp_server_name: {{ athena_wisp_server_name }}

// Login Server IP
// The character server connects to the login server using this IP address.
// NOTE: This is useful when you are running behind a firewall or are on
// a machine with multiple interfaces.
login_ip: {{ athena_login_server_ip }} 

// The character server listens on the interface with this IP address.
// NOTE: This allows you to run multiple servers on multiple interfaces
// while using the same ports for each server.
bind_ip: {{ athena_char_server_ip }}

// Login Server Port
login_port: {{ athena_login_server_port }}

// Character Server IP
// The IP address which clients will use to connect.
// Set this to what your server's public IP address is.
char_ip: {{ athena_char_server_ip_public }}

// Character Server Port
char_port: {{ athena_char_server_port }} 