
// MySQL Login server
login_server_ip: {{ athena_mariadb_server_ip }}
login_server_port: {{ athena_mariadb_server_port }}
login_server_id: {{ athena_mariadb_server_id }}
login_server_pw: {{ athena_mariadb_server_pw }}
login_server_db: {{ athena_mariadb_db_name }}
login_codepage:
login_case_sensitive: no

ipban_db_ip: {{ athena_mariadb_server_ip }}
ipban_db_port: {{ athena_mariadb_server_port }}
ipban_db_id: {{ athena_mariadb_server_id }}
ipban_db_pw: {{ athena_mariadb_server_pw }}
ipban_db_db: {{ athena_mariadb_db_name }}
ipban_codepage:

// MySQL Character server
char_server_ip: {{ athena_mariadb_server_ip }}
char_server_port: {{ athena_mariadb_server_port }}
char_server_id: {{ athena_mariadb_server_id }}
char_server_pw: {{ athena_mariadb_server_pw }}
char_server_db: {{ athena_mariadb_db_name }}

// MySQL Map Server
map_server_ip: {{ athena_mariadb_server_ip }}
map_server_port: {{ athena_mariadb_server_port }}
map_server_id: {{ athena_mariadb_server_id }}
map_server_pw: {{ athena_mariadb_server_pw }}
map_server_db: {{ athena_mariadb_db_name }}

// MySQL Log Database
log_db_ip: {{ athena_mariadb_server_ip }}
log_db_port: {{ athena_mariadb_server_port }}
log_db_id: {{ athena_mariadb_server_id }}
log_db_pw: {{ athena_mariadb_server_pw }}
log_db_db: {{ athena_mariadb_db_name }}
log_codepage:
log_login_db: loginlog
